section{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    border: 2px solid red;
    min-height:100vh;
}
section .circle{
    /* position: absolute */
    width: 150px;
    height: 150px;
    border: 2px solid red;
  }
  section .circle span
  {
    border: 2px solid salmon;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform: rotate(calc(18deg * var(--i)));
  } 