@import url('https://fonts.googleapis.com/css2?family=Poppins:100,200,300;400;500;600;700,800,900');
*{
    font-family: 'Poppins',sans-serif;
    padding: 0;
    left: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0e1538;
}
a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
    overflow: hidden;
    background: rgba(0, 0, 0,0.5);
    text-decoration: none;
    margin: 80px 40px;
    transition: 1s;
    -webkit-box-reflect: below 1px 
    linear-gradient(transparent,transparent,#0004);
}
a:hover{
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr),
    0 0 60px var(--clr),
    0 0 100px var(--clr);
}
a::before{

    content: '';
    position: absolute;
    width: 40px;
    height: 400px;
    background: var(--clr);
    transition: 1s;
    animation: animate 2s linear infinite;
}
a:hover:before{
    width: 120%;
}
a:after{
    content: '';
    position: absolute;
    inset: 4px;
    background: #0e1538;
    transition: 0.5s;
}
a:hover::after{
    background: var(--clr);
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
a span{
    position: relative;
    z-index: 1;
    font-size: 2em;
    color: #fff;
    opacity: 0.5;
    letter-spacing: 4px;
}
a:hover span{
    opacity: 1;
}