*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg:#333;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--bg);
}
ul{
    position: relative;
    display: flex;
    gap: 50px;
    transition: 0.2s;
}
ul li{
    position: relative;
    list-style: none;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
ul li:hover{
    z-index: 1000;
    transform: scale(0.75);
}
ul li::before{
    content: '';
    position: absolute;
    inset: 30px;
    box-shadow: 0 0 0 10px var(--clr),
    0 0 0 20px var(--bg),
    0 0 0 22px var(--clr);
    transition: 0.2s;
}
ul li:hover::before{
    inset: 0;
}
ul li::after{
    content: '';
    position: absolute;
    inset: 0;
    background: var(--bg);
    transform: rotate(45deg);
    
}
ul li a{
    position: relative;
    font-size: 2em;
    color: var(--clr);
    text-decoration: none;
    transition: 0.3s;
    z-index: 1;
}
ul li a:hover{
    font-size: 3em;
    filter:drop-shadow(0 0 20px var(--clr))
    drop-shadow(0 0 40px var(--clr))
    drop-shadow(0 0 60px var(--clr));
}