@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Fuzzy+Bubbles:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    background: #0b061f;
}
.spider{
    position: absolute;
    top: -150px;
    animation: animate 15s ease-in-out infinite;
}
@keyframes animate {
    0%,100%{
        transform: translateY(-500px);
    }
    50%{
        transform: translateY(0px);
    }
}
.pumpkin01{
    position: absolute;
    top: 10px;
    opacity: 0.7;
    right: 100px;
    animation: animatepumpkin01 8s ease-in-out infinite;
}
@keyframes animatepumpkin01 {
    0%,100%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(50px);
    }
}
.pumpkin02{
    position: absolute;
    bottom: -80px;
    left: -20px;
    animation: animatepumpkin01 8s ease-in-out infinite;
    scale: 0.5;
}
.spiderWeb{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: screen;
}
.text{
    position: relative;
    font-size: 12vw;
    font-family: 'Fuzzy Bubbles', cursive;
    font-weight: 100;
    animation: animatetext 5s linear infinite;
    color: rgba(255, 255,2555,0.1);
}
@keyframes animatetext{
    0%,10%,18%,25%,45%,63%,79%,81%,91%{
        color: rgba(255, 255,2555,0.1);
        text-shadow: none;
    }
    0%,14%,21%,35%,55%,71%,90%,100%{
        color: #ffac09;
        text-shadow: 0 0 10px #ffac09,
        0 0 20px #ffac09,
        0 0 40px #ffac09,
        0 0 80px #ffac09,
        0 0 100px #ffac09;
    }
}