*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}
.loader{
    position: relative;
    width: 200px;
    height: 200px;
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    animation: animate1 5s linear infinite;
}
@keyframes animate1{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.loader span:nth-child(1){
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
}
.loader span:nth-child(2){
    animation-direction: reverse;
    border-radius: 25% 75% 78% 22% / 52% 29% 71% 48% ;
}
.loader span:nth-child(3){
    animation-delay: 6s;
    border-radius: 21% 79% 83% 17% / 80% 26% 74% 20% ;
}
.loader h2{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}